div.bg-gray.section-4
  table.card(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr
      td(valigN="top" style="padding-right:36px")
        +placehold(244, 218, 'ffffff', 'e3e3e3')
      td.text-left
        b: a.title.link.text-blue(href="#").
          Now you can easily handle reviews within your help dsk software.
        p.description(style="font-size:14px")
          a.link.text-gray(href="#").
            We've built a tool that integrates with all of them to give your Customer Service team the power to manage your reviews and Q&A.
        +readnow()