div(style="background-color:#000000;text-align:left;padding:10px")
  +placehold(40, 40, 'ffffff', '000000')
div.footer
  div.line.text-gray.
    Yotpo 222 Broadway New York, New York 10038 United States
  div.line.text-gray.
    You received this email because you are subscribed to Newsletter from Yotpo
  div.line.text-gray.
    Update your <a hreF="#" class="text-gray">email preferences</a> to choose the types of emails you receive
  div.line.text-gray
    a.text-gray(href="#") Unsuscribe from all future emails