div.intro
  b: a.link.text-blue.title(href="#").
    Now you can easily handle reviews<br />within your help desk software
  p.description
    a.link.text-black(href="#").
      We've built a tool that integrates with all of them to give your Customer<br />Service team the power to manage your reviews and Q&A.
  +readnow()